<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jakewharton.telecine"
    >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="remove" />

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/launcher_name"
      android:name=".TelecineApplication"
      android:theme="@style/Theme.Telecine"
      android:supportsRtl="true"
      >
    <activity android:name=".TelecineActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
      </intent-filter>
      <meta-data
          android:name="android.app.shortcuts"
          android:resource="@xml/shortcuts"
          />
    </activity>

    <service android:name=".TelecineService"/>

    <receiver android:name=".DeleteRecordingBroadcastReceiver"/>

    <activity
        android:name=".TelecineShortcutConfigureActivity"
        android:theme="@style/Theme.Telecine.Transparent"
        android:excludeFromRecents="true"
        android:taskAffinity=""
        android:enabled="@bool/widget_shortcut_enabled"
        >
      <intent-filter>
        <action android:name="android.intent.action.CREATE_SHORTCUT" />
      </intent-filter>
    </activity>
    <activity
        android:name=".TelecineShortcutLaunchActivity"
        android:theme="@style/Theme.Telecine.Transparent"
        android:excludeFromRecents="true"
        android:taskAffinity=""
        android:exported="true"
        />

    <service
        android:icon="@drawable/ic_videocam_white_24dp"
        android:label="@string/launch_telecine"
        android:name=".TelecineTileService"
        android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE"/>
      </intent-filter>
    </service>
  </application>

</manifest>
